extends layout

block content
  h1 My Album Store
  p Welcome to Dize's Album Store
  
  p 
  
  form(action="/add-new-album" method="post") 
    input(type="text" name="name" placeholder="Enter title of album")
    input(type="text" name="artist" placeholder="Enter artist of the album")
    input(type="text" name="genre" placeholder="Genre")
    input(type="number" name="stars" placeholder="Rating")
    input(type="text" name="explicit" placeholder="Is this explicit?")
    input(type="submit")

  p
    table
      tr
        th Arist
        th Album
        th Genre
        th Rating
        th Explicit?
        th
        th
      each album in albums
        tr
          td= album.artist
          td= album.name
          td= album.genre
          td= album.stars
          td= album.explicit
          td
            a(href="/#{album.id}/edit") Edit
          td
            a(href="/#{album.id}/delete") Delete
